In [1]:
import pandas as pd
from os import path

In [2]:
analysis_data = pd.read_csv(path.join("..", "model_comparison_data", "final_dataset_results_full_with_predictions.csv"))

In [4]:
analysis_data = analysis_data[["subtype", "Species", "Location"]]

In [6]:
analysis_data = analysis_data.drop_duplicates()

In [7]:
analysis_data

    subtype          Species          Location
0      H5N1            avian         Hong_Kong
1      H5N1          chicken              Bali
2      H7N3          chicken  British_Columbia
3      H5N1          chicken          Cambodia
4      H5N1          chicken             Egypt
..      ...              ...               ...
98     H5N1   openbill_stork          Thailand
100    H5N1          poultry        Bangladesh
101    H5N1  silver_pheasant          Thailand
103    H5N1           turkey            Israel
104    H5N1     whooper_swan          Mongolia

[73 rows x 3 columns]

In [9]:
analysis_data.groupby("Location").count()

                  subtype  Species
Location
Ang_Thong               1        1
Anhui                   1        1
Anhui-Chuzhou           1        1
Bali                    1        1
Bangladesh              2        2
British_Columbia        2        2
Cambodia                2        2
Domodedovo              1        1
Egypt                   3        3
Germany                 2        2
Guangdong               2        2
Ha_Nam                  1        1
Hangzhou                1        1
Henan                   1        1
Hong_Kong               3        3
Huai'an                 1        1
Hubei                   2        2
Hunan                   3        3
Hungary                 2        2
Hunnan                  1        1
Indonesia               1        1
Ismailia                1        1
Israel                  1        1
Jalisco                 1        1
Jiangsu                 1        1
Jiangxi                 1        1
Jilin                   2        2
Mongolia                2        2
Nakhonsawan             1        1
Ratchaburi              1        1
Rostov                  1        1
Shandong                1        1
Shanghai                2        2
Sharkeya                1        1
Shenzhen                1        1
Sichuan                 1        1
South_Kalimantan        1        1
Sunan                   1        1
Suphanburi              1        1
Suzhou                  2        2
Thailand                8        8
Vietnam                 2        2
Vietnam_NamDinh         1        1
WestJava                1        1
West_Java               1        1
Wuxi                    1        1
Zhejiang                2        2

In [10]:
data = analysis_data

In [30]:
data.loc[data['Location'].str.contains('Scotland', na=False), 'Country'] = 'Scotland'
data.loc[data['Location'].str.contains('British_Columbia', na=False), 'Country'] = 'Canada'
data.loc[data['Location'].str.contains('Malaysia', na=False), 'Country'] = 'Malaysia'
data.loc[data['Location'].str.contains('Guangdong', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Dutch', na=False), 'Country'] = 'Netherlands'
data.loc[data['Location'].str.contains('Hubei', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Victoria', na=False), 'Country'] = 'Australia'
data.loc[data['Location'].str.contains('Vietnam', na=False), 'Country'] = 'Vietnam'
data.loc[data['Location'].str.contains('Bangladesh', na=False), 'Country'] = 'Bangladesh'
data.loc[data['Location'].str.contains('Israel', na=False), 'Country'] = 'Israel'
data.loc[data['Location'].str.contains('Egypt', na=False), 'Country'] = 'Egypt'
data.loc[data['Location'].str.contains('New_York', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Germany', na=False), 'Country'] = 'Germany'
data.loc[data['Location'].str.contains('England', na=False), 'Country'] = 'England'
data.loc[data['Location'].str.contains('Italy', na=False), 'Country'] = 'Italy'
data.loc[data['Location'].str.contains('LA/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('South_Africa', na=False), 'Country'] = 'South_Africa'
data.loc[data['Location'].str.contains('New_Jersey', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Shandong', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Jiangsu', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Minnesota', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Delaware', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Hong_Kong', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('North_Dakota', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Korea', na=False), 'Country'] = 'South_Korea'
data.loc[data['Location'].str.contains('Hangzhou', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Netherlands', na=False), 'Country'] = 'Netherlands'
data.loc[data['Location'].str.contains('Pennsylvania', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Thailand', na=False), 'Country'] = 'Thailand'
data.loc[data['Location'].str.contains('France', na=False), 'Country'] = 'France'
data.loc[data['Location'].str.contains('Ukraine', na=False), 'Country'] = 'Ukraine'
data.loc[data['Location'].str.contains('Viet_Nam', na=False), 'Country'] = 'Vietnam'
data.loc[data['Location'].str.contains('NY/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('NJ/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('IN/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('MD/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('WI/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Indonesia', na=False), 'Country'] = 'Indonesia'
data.loc[data['Location'].str.contains('Sweden', na=False), 'Country'] = 'Sweden'
data.loc[data['Location'].str.contains('MI/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('NL-', na=False), 'Country'] = 'Netherlands'
data.loc[data['Location'].str.contains('Ohio', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('PA/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Texas', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('North_Carolina', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Wisconsin', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Maryland', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('MN/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('CA/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Taiwan', na=False), 'Country'] = 'Taiwan'
data.loc[data['Location'].str.contains('Shanghai', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Shangdong', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Jilin', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('NL_', na=False), 'Country'] = 'Netherlands'
data.loc[data['Location'].str.contains('Mongolia', na=False), 'Country'] = 'Mongolia'
data.loc[data['Location'].str.contains('Ireland', na=False), 'Country'] = 'Ireland'
data.loc[data['Location'].str.contains('California', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Australia', na=False), 'Country'] = 'Australia'
data.loc[data['Location'].str.contains('Anhui', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('OH', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('China', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Yunnan', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Quebec', na=False), 'Country'] = 'Canada'
data.loc[data['Location'].str.contains('Belgium', na=False), 'Country'] = 'Belgium'
data.loc[data['Location'].str.contains('VA/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('TX', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('FL/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('CT/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Shantou', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Fujian', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Hebei', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Jiangxi', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Colorado', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Idaho', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Hungary', na=False), 'Country'] = 'Hungary'
data.loc[data['Location'].str.contains('NC', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Alberta', na=False), 'Country'] = 'Canada'
data.loc[data['Location'].str.contains('Pakistan', na=False), 'Country'] = 'Pakistan'
data.loc[data['Location'].str.contains('BC/', na=False), 'Country'] = 'Canada'
data.loc[data['Location'].str.contains('Chile', na=False), 'Country'] = 'Chile'
data.loc[data['Location'].str.contains('Czechoslovakia', na=False), 'Country'] = 'Czechoslovakia'
data.loc[data['Location'].str.contains('Queensland', na=False), 'Country'] = 'Australia'
data.loc[data['Location'].str.contains('Iowa', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Louisiana', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Oregon', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Beijing', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Henan', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Hokkaido', na=False), 'Country'] = 'Japan'
data.loc[data['Location'].str.contains('Hunan', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Qinghai', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Karachi', na=False), 'Country'] = 'Pakistan'
data.loc[data['Location'].str.contains('Yunan', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('MT/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('DE/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Postdam', na=False), 'Country'] = 'Germany'
data.loc[data['Location'].str.contains('Rostov', na=False), 'Country'] = 'Russia'
data.loc[data['Location'].str.contains('Memphis', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Ang_Thong', na=False), 'Country'] = 'Thailand'
data.loc[data['Location'].str.contains('Eshkol', na=False), 'Country'] = 'Israel'
data.loc[data['Location'].str.contains('Caspian_Sea', na=False), 'Country'] = 'Caspian_Sea'
data.loc[data['Location'].str.contains('Brescia', na=False), 'Country'] = 'Italy'
data.loc[data['Location'].str.contains('Manitoba', na=False), 'Country'] = 'Canada'
data.loc[data['Location'].str.contains('Nanjing', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Marquenterre', na=False), 'Country'] = 'France'
data.loc[data['Location'].str.contains('Yan_chen', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Xuyi', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Suzhou', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Changzhou', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Nakhonsawan', na=False), 'Country'] = 'Thailand'
data.loc[data['Location'].str.contains('Suphanburi', na=False), 'Country'] = 'Thailand'
data.loc[data['Location'].str.contains('Sichuan', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Guangxi', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Bavaria', na=False), 'Country'] = 'Germany'
data.loc[data['Location'].str.contains('shenzhen', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Shenzhen', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Chakwal', na=False), 'Country'] = 'Pakistan'
data.loc[data['Location'].str.contains('Tel_Adashim', na=False), 'Country'] = 'Israel'
data.loc[data['Location'].str.contains('KS/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('SK/', na=False), 'Country'] = 'South_Korea'
data.loc[data['Location'].str.contains('Hunnan', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Yamaguchi', na=False), 'Country'] = 'Japan'
data.loc[data['Location'].str.contains('Primorie', na=False), 'Country'] = 'Russia'
data.loc[data['Location'].str.contains('Domodedovo', na=False), 'Country'] = 'Russia'
data.loc[data['Location'].str.contains('Murree', na=False), 'Country'] = 'Pakistan'
data.loc[data['Location'].str.contains('PT/', na=False), 'Country'] = 'Portugal'
data.loc[data['Location'].str.contains('AR/', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Naharia', na=False), 'Country'] = 'Israel'
data.loc[data['Location'].str.contains('Maale_HaHamisha', na=False), 'Country'] = 'Israel'
data.loc[data['Location'].str.contains('Pardes-Hana-Carcur', na=False), 'Country'] = 'Israel'
data.loc[data['Location'].str.contains('Ein_Habsor', na=False), 'Country'] = 'Israel'
data.loc[data['Location'].str.contains('Mishmar_Hasharon', na=False), 'Country'] = 'Israel'
data.loc[data['Location'].str.contains('Camargue', na=False), 'Country'] = 'France'
data.loc[data['Location'].str.contains('Washington', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Missouri', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Arkansas', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Kansas', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('GY', na=False), 'Country'] = 'Guyana'
data.loc[data['Location'].str.contains('TC', na=False), 'Country'] = 'Turks_and_Caicos_Islands'
data.loc[data['Location'].str.contains('CH', na=False), 'Country'] = 'Switzerland'
data.loc[data['Location'].str.contains('TY', na=False), 'Country'] = 'Unknown'
data.loc[data['Location'].str.contains('SC', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Quzhou', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Montana', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Nebraska', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('South_Dakota', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Wenzhou', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Wuhan', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Taizhou', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Gansu', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Ningxia', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Shimane', na=False), 'Country'] = 'Japan'
data.loc[data['Location'].str.contains('Nanchang', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('GA', na=False), 'Country'] = 'USA'
data.loc[data['Location'].str.contains('Rawalpindi', na=False), 'Country'] = 'Pakistan'
data.loc[data['Location'].str.contains('Yokohama', na=False), 'Country'] = 'Japan'
data.loc[data['Location'].str.contains('Java', na=False), 'Country'] = 'Indonesia'
data.loc[data['Location'].str.contains('Bali', na=False), 'Country'] = 'Indonesia'
data.loc[data['Location'].str.contains('Kobe', na=False), 'Country'] = 'Japan'
data.loc[data['Location'].str.contains('Osaka', na=False), 'Country'] = 'Japan'
data.loc[data['Location'].str.contains('Jilin', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Zhejiang', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Huadong', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Emirates', na=False), 'Country'] = 'UAE'
data.loc[data['Location'].str.contains('Heilongjiang', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Iarah', na=False), 'Country'] = 'Kenya'
data.loc[data['Location'].str.contains('Cambodia', na=False), 'Country'] = 'Cambodia'
data.loc[data['Location'].str.contains('Huai\'an', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Ismailia', na=False), 'Country'] = 'Egypt'
data.loc[data['Location'].str.contains('Jalisco', na=False), 'Country'] = 'Mexico'
data.loc[data['Location'].str.contains('Sharkeya', na=False), 'Country'] = 'Egypt'
data.loc[data['Location'].str.contains('South_Kalimantan', na=False), 'Country'] = 'Indonesia'
data.loc[data['Location'].str.contains('Sunan', na=False), 'Country'] = 'Indonesia'
data.loc[data['Location'].str.contains('Wuxi', na=False), 'Country'] = 'China'
data.loc[data['Location'].str.contains('Ha_Nam', na=False), 'Country'] = 'Vietnam'
data.loc[data['Location'].str.contains('Ratchaburi', na=False), 'Country'] = 'Thailand'

In [32]:
data.groupby("Country").count()

            subtype  Species  Location
Country
Bangladesh        2        2         2
Cambodia          2        2         2
Canada            2        2         2
China            30       30        30
Egypt             5        5         5
Germany           2        2         2
Hungary           2        2         2
Indonesia         6        6         6
Israel            1        1         1
Mexico            1        1         1
Mongolia          2        2         2
Russia            2        2         2
Thailand         12       12        12
Vietnam           4        4         4

In [48]:
data.loc[data['Species'].str.contains('pheasant', na=False), 'SpeciesBins'] = 'pheasant'
data.loc[data['Species'].str.contains('turkey', na=False), 'SpeciesBins'] = 'turkey'
data.loc[data['Species'].str.contains('chicken', na=False), 'SpeciesBins'] = 'chicken'
data.loc[data['Species'].str.contains('duck', na=False), 'SpeciesBins'] = 'duck'
data.loc[data['Species'].str.contains('Duck', na=False), 'SpeciesBins'] = 'duck'
data.loc[data['Species'].str.contains('turtledove', na=False), 'SpeciesBins'] = 'turtledove'
data.loc[data['Species'].str.contains('wild_bird', na=False), 'SpeciesBins'] = 'wild_bird'
data.loc[data['Species'].str.contains('Pigeon', na=False), 'SpeciesBins'] = 'pigeon'
data.loc[data['Species'].str.contains('Phalacrocorax', na=False), 'SpeciesBins'] = 'cormorant'
data.loc[data['Species'].str.contains('pigeon', na=False), 'SpeciesBins'] = 'pigeon'
data.loc[data['Species'].str.contains('goose', na=False), 'SpeciesBins'] = 'goose'
data.loc[data['Species'].str.contains('mallard', na=False), 'SpeciesBins'] = 'duck'
data.loc[data['Species'].str.contains('shorebird', na=False), 'SpeciesBins'] = 'shorebird'
data.loc[data['Species'].str.contains('ruddy_turnstone', na=False), 'SpeciesBins'] = 'ruddy_turnstone'
data.loc[data['Species'].str.contains('quail', na=False), 'SpeciesBins'] = 'quail'
data.loc[data['Species'].str.contains('teal', na=False), 'SpeciesBins'] = 'teal'
data.loc[data['Species'].str.contains('pintail', na=False), 'SpeciesBins'] = 'pintail'
data.loc[data['Species'].str.contains('gadwall', na=False), 'SpeciesBins'] = 'gadwall'
data.loc[data['Species'].str.contains('shoveler', na=False), 'SpeciesBins'] = 'shoveler'
data.loc[data['Species'].str.contains('sanderling', na=False), 'SpeciesBins'] = 'sanderling'
data.loc[data['Species'].str.contains('gull', na=False), 'SpeciesBins'] = 'gull'
data.loc[data['Species'].str.contains('redhead', na=False), 'SpeciesBins'] = 'redhead'
data.loc[data['Species'].str.contains('egret', na=False), 'SpeciesBins'] = 'egret'
data.loc[data['Species'].str.contains('waterfowl', na=False), 'SpeciesBins'] = 'waterfowl'
data.loc[data['Species'].str.contains('ostrich', na=False), 'SpeciesBins'] = 'ostrich'
data.loc[data['Species'].str.contains('guinea_fowl', na=False), 'SpeciesBins'] = 'guinea_fowl'
data.loc[data['Species'].str.contains('Mallard', na=False), 'SpeciesBins'] = 'duck'
data.loc[data['Species'].str.contains('Chicken', na=False), 'SpeciesBins'] = 'chicken'
data.loc[data['Species'].str.contains('Quail', na=False), 'SpeciesBins'] = 'quail'
data.loc[data['Species'].str.contains('chukka', na=False), 'SpeciesBins'] = 'chukka'
data.loc[data['Species'].str.contains('red_knot', na=False), 'SpeciesBins'] = 'red_knot'
data.loc[data['Species'].str.contains('sandpiper', na=False), 'SpeciesBins'] = 'sandpiper'
data.loc[data['Species'].str.contains('swan', na=False), 'SpeciesBins'] = 'swan'
data.loc[data['Species'].str.contains('stork', na=False), 'SpeciesBins'] = 'stork'
data.loc[data['Species'].str.contains('sparrow', na=False), 'SpeciesBins'] = 'sparrow'
data.loc[data['Species'].str.contains('poultry', na=False), 'SpeciesBins'] = 'chicken'
data.loc[data['Species'].str.contains('parrot', na=False), 'SpeciesBins'] = 'parrot'
data.loc[data['Species'].str.contains('grebe', na=False), 'SpeciesBins'] = 'grebe'
data.loc[data['Species'].str.contains('crane', na=False), 'SpeciesBins'] = 'crane'

In [53]:
output = data.groupby(["Country","SpeciesBins", "subtype"]).count()

In [56]:
output.to_excel("country_species_subtype_counts.xlsx")